# apps/backend/.env.example
DATABASE_URL="postgresql://USER:PASSWORD@db.PROJECT.supabase.co:5432/postgres"
JWT_SECRET="genera-uno-seguro-con-openssl-rand-base64-32"
FRONTEND_URL="http://localhost:5173"
PORT=3000
NODE_ENV="development"